<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehículos TypeScript</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/general.css">
  <script src="../models/car.js" defer></script>
  <script src="../models/wheel.js" defer></script>
  <script src="../controllers/controller.js" defer></script>
</head>

<body background="img/fast.jpg">

  <div class="container mt-5 text-start">
    <h1>Ejercicio vehículos</h1>
    <form class="d-flex flex-row bd-highlight mb-3 mt-4 d-flex justify-content-start needs validation" novalidate>
      <div class="form-group ms-5">
        <label for="matricula">Matrícula</label>
        <input type="text" id="matricula" name="matricula" class="form-control" required />
        <div class="cajas invalid-feedback" id="caja1">Introducir 4 letras y 3 números</div>
        <div class="cajas valid-feedback" id="caja1">Matrícula introducida</div>
      </div>

      <div class="form-group ms-5">
        <label for="marca">Marca</label>
        <input type="text" id="marca" name="marca" class="form-control" required />
        <div class="cajas invalid-feedback" id="caja2">Introducir marca</div>
        <div class="cajas valid-feedback" id="caja2">Marca introducida</div>
      </div>

      <div class="form-group ms-5">
        <label for="color">Color</label>
        <input type="text" id="color" name="color" class="form-control" required />
        <div class="cajas invalid-feedback" id="caja3">Introducir color</div>
        <div class="cajas valid-feedback" id="caja3">Color introducido</div>
      </div>
    </form>

    <div class="position-relative">
      <input type="button" class="btn btn-primary mt-4 d-flex justify-content-center" value="Create Car"
        onclick="guardar(event)" />
      <span id="mensaje" class="mt-4">Rellena todos los campos</span>
    </div>
    <div id="listado_coches" class="mt-5">
      <h4>Listado de coches:</h4>
      <ul id="listado"></ul>
      <div class="cajas" id="caja12"></div>
    </div>
    <!-- **********RUEDAS***************** -->
    <div class="container mt-5 text-start">
      <form class="d-flex flex-row bd-highlight mb-3 mt-4 d-flex justify-content-start row row-cols-5 needs validation" novalidate>
        <div class="form-group ms-5 col">
          <label for="marcaRueda1">Marca Rueda 1</label>
          <input type="text" id="marcaRueda1" name="marcaRueda1" class="form-control" required />
          <div class="cajas invalid-feedback" id="caja4">Introducir marca</div>
          <div class="cajas valid-feedback" id="caja4">Marca introducida</div>
        </div>
        
        <div class="form-group ms-5 col">
          <label for="diametroRueda1">Diámetro Rueda 1</label>
          <input type="text" id="diametroRueda1" name="diametroRueda1" class="form-control" required/>
          <div class="cajas invalid-feedback" id="caja5">Introducir diámetro</div>
          <div class="cajas valid-feedback" id="caja5">Diámetro introducido</div>
        </div>
        
        <div class="form-group ms-5 col">
          <label for="marcaRueda2">Marca Rueda 2</label>
          <input type="text" id="marcaRueda2" name="marcaRueda2" class="form-control" required/>
          <div class="cajas invalid-feedback" id="caja6">Introducir marca</div>
          <div class="cajas valid-feedback" id="caja6">Marca introducida</div>
        </div>

        <div class="form-group ms-5 col">
          <label for="diametroRueda2">Diámetro Rueda 2</label>
          <input type="text" id="diametroRueda2" name="diametroRueda2" class="form-control" required/>
          <div class="cajas invalid-feedback" id="caja7">Introducir diámetro</div>
          <div class="cajas valid-feedback" id="caja7">Diámetro introducido</div>
        </div>
        
        <!-- Segunda Fila -->
        <div class="form-group ms-5 col">
          <label for="marcaRueda3">Marca Rueda 3</label>
          <input type="text" id="marcaRueda3" name="marcaRueda3" class="form-control" required/>
          <div class="cajas invalid-feedback" id="caja8">Introducir marca</div>
          <div class="cajas valid-feedback" id="caja8">Marca introducida</div>

        </div>
        <div class="form-group ms-5 col">
          <label for="diametroRueda3">Diámetro Rueda 3</label>
          <input type="text" id="diametroRueda3" name="diametroRueda3" class="form-control" required/>
          <div class="cajas invalid-feedback" id="caja9">Introducir diámetro</div>
          <div class="cajas valid-feedback" id="caja9">Diámetro introducido</div>
        </div>
        
        <div class="form-group ms-5 col">
          <label for="marcaRueda4">Marca Rueda 4</label>
          <input type="text" id="marcaRueda4" name="marcaRueda4" class="form-control" required/>
          <div class="cajas invalid-feedback" id="caja10">Introducir marca</div>
          <div class="cajas valid-feedback" id="caja10">Marca introducida</div>
        </div>
        
        <div class="form-group ms-5 col">
          <label for="diametroRueda4">Diámetro Rueda 4</label>
          <input type="text" id="diametroRueda4" name="diametroRueda4" class="form-control" required/>
          <div class="cajas invalid-feedback" id="caja11">Introduce diámetro</div>
          <div class="cajas valid-feedback" id="caja11">Diámetro introducido</div>
        </div>
     </form>

      <div class="position-relative">
        <input type="button" class="btn btn-primary mt-4 d-flex justify-content-center" value="Add Wheels"
          onclick="guardarRuedas(event)" />
        <span id="mensaje2" class="mt-4">Rellena todos los campos</span>
      </div>
      <div id="listado_ruedas" class="mt-5">
        <h4>Listado de ruedas:</h4>
        <ul id="listado2"></ul>
        <div class="cajas" id="caja13"></div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>